 .u-section-1 {
  background-image: linear-gradient(#e0e5eb, #f2f2f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 746px;
}

.u-section-1 .u-text-1 {
  width: 691px;
  font-weight: 700;
  font-family: "Kaushan Script";
  margin: 50px auto 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  width: 912px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 615px;
  margin: 19px auto 0;
}

.u-section-1 .u-line-2 {
  height: 3px;
  width: 912px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  width: 615px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 29px auto 0;
  padding: 6px 24px 7px 23px;
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(#708371, #8c8e62);
}

.u-section-2 .u-sheet-1 {
  min-height: 712px;
}

.u-section-2 .u-text-1 {
  width: 691px;
  font-weight: 700;
  font-family: "Kaushan Script";
  margin: 50px auto 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  width: 912px;
  margin: 22px auto 0;
}

.u-section-2 .u-image-1 {
  width: 197px;
  height: 55px;
  margin: 21px auto 0;
}

.u-section-2 .u-table-1 {
  width: 400px;
  margin: 0 auto;
}

.u-block-bf36-16 {
  height: 46px;
}

.u-block-bf36-25 {
  height: 46px;
}

.u-section-2 .u-image-2 {
  width: 140px;
  height: 55px;
  margin: 30px auto 0;
}

.u-section-2 .u-table-2 {
  width: 400px;
  height: 91px;
  margin: 0 auto;
}

.u-block-bf36-36 {
  height: 46px;
}

.u-section-2 .u-table-cell-8 {
  font-size: 0.9375rem;
}

.u-block-bf36-45 {
  height: 46px;
}

.u-section-2 .u-line-2 {
  height: 3px;
  width: 912px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 615px;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 21px auto 50px;
  padding: 6px 24px 7px 23px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    height: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 470px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
    margin-top: -322px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -176px;
  }

  .u-section-2 .u-table-2 {
    width: 340px;
    margin-top: 14px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(#f2f2f2, #e0e5eb);
}

.u-section-3 .u-sheet-1 {
  min-height: 843px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Kaushan Script";
  font-size: 3.75rem;
  margin: 154px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 43px auto 0;
  padding: 6px 24px 7px 23px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-group-1 {
  min-height: 663px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#8c8e62, #708371);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-family: "Kaushan Script";
  margin: 0 2px 0 0;
}

.u-section-3 .u-form-1 {
  height: 466px;
  margin: 23px 5px 0 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}